.banner-container {
    background-color: rgb(171, 166, 166);
}

.banner-column {
    background-color: rgb(86, 86, 86);
}

.navbar-bg {
    top: 0;
    background-color: #262B38;
    position: sticky;
    z-index: 2;
}

/* .navbr-container{

} */

.about-container {
    background-color: #00BDBD;
}

.Education-container {
    background-color: rgb(234, 231, 231);
}

.orange-color {
    color: #e46d0c;
}

.orange-background {
    background-color: #e46d0c;
}

.orange-background:hover {
    color: black !important;
}

.circle-edu {
    background-color: #e46d0c;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Project-container {
    background-color: #12d5e7;
}

.form-container {
    background-color: #474D5D;
}

.inner-form {
    background-color: #585F73;
}

.footer {
    background-color: #2bb5dd;
}


.circle {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    color: #12d5e7;
}

.circle:hover {

    background-color: #474D5D;
}