.banner-container {
    background-color: rgb(171, 166, 166);
}

.banner-column {
    background-color: rgb(86, 86, 86);
}

.navbar-bg {
    background-color: #262B38;
}

.about-container {
    background-color: #00BDBD;
}